body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
}

.content {
    margin: 0 auto;
    width: 800px;
    text-align: center;
}

.clickable {
    cursor: hand;
}